<div class="trading-content">
  <div class="example-box"   cdkDrag>
    I can only be dragged up/down
  </div>

  <div class="example-box"   cdkDrag>
    I can only be dragged left/right
  </div>

</div>
    <mat-sidenav position="end" #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
      <div class="bakgraund">
      </div>
      <div style="display: flex; flex-direction: column; justify-content: space-between; ">
        <div style="padding: 10px; margin-bottom: 100%; ">

        </div>
        <div style="padding: 10px;">
          <mat-nav-list color="primary">  <form class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label>Assignee</mat-label>
                  <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                      {{option.name}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </form>
          </mat-nav-list>
        </div>
      </div>


    </mat-sidenav>
