
<div class="trading-content">
  <div cdkDropListGroup>
    <div class="example-container">
      <h2>{{indicator?.descricao}}</h2>


<div cdkDropList style="width: 900px; height: 100vh; border: 10px;"
      [cdkDropListData]="featureIndicatorAplicate"
      class="example-list" cdkDropListSortingDisabled
      (cdkDropListDropped)="drop($event)"   >
      <div class="example-box" *ngFor="let item of featureIndicatorAplicate"
      cdkDrag ngResizable>
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle> {{' ('+item.descricao+ ') '}}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>

          <app-pie-chart [active]='item'></app-pie-chart>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button><mat-icon>save</mat-icon></button>
          <button mat-button><mat-icon>list</mat-icon></button>
        </mat-card-actions>
      </mat-card>

    </div>


    </div>
</div>





  <!-- <div class="example-container">
    <h2>Indicadores Disponíveis</h2>
    <div
      cdkDropList
      [cdkDropListData]="indicator?.featureIndicator"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of
       indicator?.featureIndicator" cdkDrag>{{item.nome}}</div>
    </div>
  </div> -->






    <mat-sidenav position="end" #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
      <div class="bakgraund">
      </div>
      <div style="display: flex; flex-direction: column; justify-content: space-between; ">
        <div style="padding: 10px; margin-bottom: 60px; ">

        </div>
            <h2>Indicadores Disponíveis</h2>


        <div style="padding: 10px;">
          <mat-nav-list color="primary">
             <form >
                <mat-form-field class="example-full-width" class="volind-form">
                  <mat-label>Buscar</mat-label>
                  <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    <!-- <mat-option *ngFor="let  featureIndicator of filteredOptions | async" [value]="featureIndicator">
                      {{featureIndicator.nome}}
                    </mat-option> -->
                  </mat-autocomplete>
                </mat-form-field>
              </form>
          </mat-nav-list>
        </div>

  <div class="volind-container">
    <div cdkDropList [cdkDropListData]="indicator?.featureIndicator" class="volind-list"
      (cdkDropListDropped)="drop($event)">
       <mat-option *ngFor="let  featureIndicator of filteredOptions | async" [value]="featureIndicator" cdkDrag>

          {{featureIndicator.nome}}

     </mat-option>
    </div>


  </div>

      </div>



  <!-- All lists in here will be connected. -->


    </mat-sidenav>
</div></div>
